.fila1{
  display: flex;
  width: 1000px;
  height: 67px;
  justify-content: flex-start;
}
.fila2{
  display: flex;
  width: 1000px;
  height: 67px;
  justify-content: flex-end;
}
.fila3{
  display: flex;
  width: 1000px;
  height: 67px;
  justify-content: center;
}
